<div class="b-example-divider"></div>
<h2 class="text-white">RELLENE LOS CAMPOS PARA COMPLETAR EL PAGO</h2>
<div class="rounded mb-5"></div>
<form action="#" class="credit-card-div">
  <div class="panel panel-default" >
   <div class="panel-heading">
        <div class="row ">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Número de tarjeta de crédito" />
                </div>
            </div>
       <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >Mes de caducidad</span>
                    <input type="text" class="form-control" placeholder="MM" />
                </div>
           <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Año de caducidad</span>
                    <input type="text" class="form-control" placeholder="AA" />
                </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  CCV</span>
                    <input type="text" class="form-control" placeholder="CCV" />
                </div>
           <div class="col-md-3 col-sm-3 col-xs-3">
           </div>
            </div>
       <div class="row ">
                <div class="col-md-12 pad-adjust">

                    <input type="text" class="form-control" placeholder="Titular de la tarjeta" />
                </div>
            </div>
       <div class="row">
  <div class="col-md-12 pad-adjust">
  </div>
       </div>
         <div class="row ">
              <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                   <input type="submit"  class="btn btn-danger" value="CANCEL" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                </div>
            </div>

                     </div>
                </div>
  </form>

  <div class="b-example-divider2"></div>
  <div class="b-example-divider"></div>

