#abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#cabeza img {
  text-align: center;
  width: 300px;
  display: block;
  margin: auto;
}

.b-example-divider {
  height: 3rem;
  border-width: 1px 0;
}
