<div class="container center">
  <div class="abs-center mt-5">
    <div class="col-8 card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{article.imagen}}"
            class="img-fluid rounded-start" alt="{{article.nombre}} {{article.familia}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{article.nombre}} {{article.familia}}</h5>
            <p class="card-text">{{article.descripcion}}</p>
            <p class="card-text"><small class="text-muted">Procedencia: {{article.procedencia}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abs-center">
    <form [formGroup]="formularioProducto" (ngSubmit)="submit()" class="text-white">
      <label for="articleCantidad" class="form-label">Cantidad</label>
      <div class="col-2 mb-3"><input formControlName="articleCantidad"  class="form-control" type="number" minlength="5" max="30" #articleCantidad></div>
      <div *ngIf="!this.formularioProducto.get('cantidad')?.errors?.['required']" class="alert alert-danger mt-3" #articleCantidad>
        Es cenesario que introduzcas la cantidad
      </div>
      <!--<div *ngIf="this.formularioProducto.get('cantidad')?.errors?.['pattern']" class="alert alert-danger mt-3">
        Debes introducir un número de un máximo de 2 cifras
      </div>-->
      <button type="submit" *ngIf="estaLogado"  class="btn btn-danger" (click)="addCarrito(article.nombre,article.familia,article.imagen,articleCantidad.value);articleCantidad.value=''; ">Añadir al carro</button>
      <button *ngIf="!estaLogado" type="submit" class="btn btn-danger" routerLink="/login">Añadir al carro</button>
    </form>
  </div>
  <div id="center" class="mt-4"></div>
</div>

<div class="b-example-divider"></div>
